.NegUser {
  width: 70px;
  border: 1px solid black;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
